@{
    ViewData["Title"] = "About project";
}
<h1>@ViewData["Title"]</h1>

<p>
    Самые интересные и невероятные факты со всего света. Весь список тем можно посмотреть в облаке меток. Факты нам присылают наши читатели, а мы проверяем и публикуем их. Чтобы отправить свой факт, воспользуйтесь формой обратной связи.
</p>

<p class="text-end">
    С уважением, Ori
</p>