@{
    Layout = "_LayoutColumn";
    ViewData["Title"] = "Home Page";
}

<p>
    Index: @ViewBag.Index
</p>
<p>
    Tag: @ViewBag.Tag
</p>
<p>
    Search: @ViewBag.Search
</p>
@section Column
{
    <p>
        Привет!
   </p>
}
