@using OriGames.Facts.Web.Extensions
@model Guid
@if (ViewData["HideLink"] is null)
{
    <a asp-controller="Facts" asp-action="Show" asp-route-factId="@Model" asp-route-returnUrl="@Context.GetReturnUrl()">Подробнее</a>
}
else
{
    <span>Скопировать ссылку</span>
}
