@using OriGames.Facts.Web.Extensions
@using OriGames.Facts.Infrastructure.Data

@if (User.Identity?.IsAuthenticated == true && User.IsInRole(AppData.AdministratorRole))
{
    <a asp-controller="Facts" asp-action="Edit" asp-route-id="@Model" asp-route-returnUrl="@Context.GetReturnUrl()#@Model">Изменить</a>
}