@using OriGames.Facts.Web.Extensions
@using OriGames.Facts.RazorLibrary
@model Guid
@if (ViewData["HideLink"] is null)
{
    <a asp-controller="Facts" asp-action="Show" asp-route-factId="@Model" asp-route-returnUrl="@Context.GetReturnUrl()">Подробнее</a>
}
else
{
    <component type="typeof(FactLinkComponent)" render-mode="ServerPrerendered" param-LinkValue="@Url.ActionLink("Show", "Facts", new {id = Model})"/>
}
