@model IEnumerable<TagViewModel>

@foreach (var tagViewModel in Model)
{
    <a asp-controller="Facts" asp-action="Index" asp-route-tag="@tagViewModel.Name" class="badge bg-light text-dark" style="text-decoration: none">@tagViewModel.Name</a>
}