@model Calabonga.OperationResults.OperationResult<FactViewModel>
@{
    Layout = "_Layout";
    ViewData["HideLink"] = true;
}
<div class="row">
    <div class="col">
        @if (Model.Ok)
        {
            <partial name="_Fact" model="Model.Result"/>
        }
        else
        {
            <h1 class="alert-warning">Fact was not found</h1>
            
            <p class="alert-warning">
                @Model.Metadata.Message
            </p>
        }
    </div>
</div>

@section Headers
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet"/>
}
@section Scripts
{
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
}

