html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

a.tag0, a.tag1, a.tag2, a.tag3, a.tag4, a.tag5, a.tag6, a.tag7, a.tag8, a.tag9 {
  text-decoration: none;
}

a.tag0 {
  font-size: 1.1em;
}

a.tag1 {
  font-size: 1.3em;
}

a.tag2 {
  font-size: 1.5em;
}

a.tag3 {
  font-size: 1.7em;
}

a.tag4 {
  font-size: 1.9em;
}

a.tag5 {
  font-size: 2.1em;
}

a.tag6 {
  font-size: 2.3em;
}

a.tag7 {
  font-size: 2.5em;
}

a.tag8 {
  font-size: 2.7em;
}

a.tag9 {
  font-size: 2.9em;
}